[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
black = "==20.8b1"
ipykernel = "*"
pycodestyle = "*"
pytest = "*"

[packages]
"discord.py" = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
